
.popdiv {
	margin-right:0.5%;
	display:inline-block;
	width:auto;
	float:right;
	
}

.popmenu {
    text-align: center;
    text-decoration: none;
    font-size: 1.5vmin;
    line-height:1.5vmin;
    font-weight: 600;
    color:white;
    margin-right:0.25vmin;
    margin-top: 0.3vmin;
    padding-top:0.2vmin;
    padding-bottom:0.15vmin;
    padding-left:0.2vmin;
    padding-right:0.2vmin;
    height: auto;
    width: auto; 
    -webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%;
    cursor: pointer;
    border-width:0.2vmin;
    border: double #999;
    border-radius: .5vmin;
    border-style:groove;
    float:right;
    position:relative;
    background: -webkit-linear-gradient(top, lightgray, black);
    text-shadow: 0.1vmin 0.1vmin black;


}

.popmenu:hover {
  border: red double;
  background: -webkit-linear-gradient(top, lightyellow, lightpink);
  text-shadow: 0.1vmin 0.1vmin silver;
  color:black;

}


.popmenu2 {
    text-align: center;
    text-decoration: none;
    font-size: 1.5vmin;
    line-height:1.5vmin;
    font-weight: 600;
    color:white;
    margin-right:0.25vmin;
    margin-top: 0.3vmin;
    padding-top:0.2vmin;
    padding-bottom:0.15vmin;
    padding-left:0.2vmin;
    padding-right:0.2vmin;
    height: auto;
    width: auto; 
    -webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%;
    cursor: pointer;
    border-width:0.2vmin;
    border: double #999;
    border-radius: .5vmin;
    border-style:groove;
    float:right;
    position:relative;
    background: -webkit-linear-gradient(top, lightgray, black);
    text-shadow: 0.1vmin 0.1vmin black;

}

.popmenu2:hover {
  border: red double;
  background: -webkit-linear-gradient(top, lightyellow, lightpink);
  text-shadow: 0.1vmin 0.1vmin silver;
  color:black;

}


.closebtn2 {
    padding-right:0.5vmin;
    padding-left:0.1vmin;
    padding-top:0.2vmin;
    color: red;
    font-weight: bold;
    float: left;
    font-size: 2vmin;
    line-height:2vmin;
    cursor:progress;
    transition: 2s;
    text-shadow: 0.1vmin 0.1vmin black;
}

.closebtn2:hover {
    color: yellow;
}



#video {
  position: absolute;
  border: 2px;
  border-color:transparent;
  border-style:solid;
  border-radius: 4px;
  float:left;
  width: 100%;
  height:99%;
  padding-bottom: 0px;
  margin-right:1%;
  margin-left:0%;
  margin-top: 0.25%;
  margin-bottom:0.25%;
  overflow:hidden;
}


.aud {
  position: absolute;
  border: 2px;
  border-color:darkred;
  border-style:double;
  border-radius: 38px;
  right:1%;
  bottom:0.75%;
  padding-bottom: 0px;
  margin-right:0.25%;
  margin-top: 0%;
  overflow:hidden;
  background: -webkit-linear-gradient(top, lightgray, black);
}

embed {
  position: absolute;
  border: 0.6vmin;
  border-color:transparent;
  border-style:solid;
  border-radius: 0.6vmin;  
  width: 30%;
  height:85%;
  padding-bottom: 0vmin;
  padding-left:0vmin;
  margin-right:0.4;
  margin-left:0.8%;
  margin-top: 1%;
  margin-bottom:1%;
  overflow:hidden;

}

iframe {
  position: absolute;
  border: 0.6vmin;
  border-color:transparent;
  border-style:solid;
  border-radius: 0.6vmin;  
  width: 30%;
  height:85%;
  padding-bottom: 0vmin;
  padding-left:0vmin;
  margin-right:0.4;
  margin-left:0.8%;
  margin-top: 1%;
  margin-bottom:1%;
  overflow:hidden;
}


