#custom-seekbar {  
  cursor: pointer;
  height: 17px;
  margin-bottom: 0px;
  background:black;
  overflow:visible;
  position: relative;
  width: 100%;
  left: 0%;
  border:thin;
  border-right:0px;  
  border-color:yellow;
  
}

#custom-seekbar span {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 0px;
}

#custom-seekbar span:after {
  content: '■';
  display:block;
  position: absolute;
  background-color: blue;
  width:12px;
  color: blue;
  top: 0;
  right: 0;
  overflow:hidden
  
}

#custom-seekbar span.hover:after {
  content: '■';
  display:block;
  position: absolute;
  background-color: yellow;
  color: yellow;
  top: 0;
  right: 0%;
}

.bar {
  height: 18px;
  margin-bottom: 2px;
  background:black;
  overflow: hidden;
  position: absolute;
  width: 100%;
  left: 0%;
  border:thin;
  border-right:0px;  
  border-color:black;
  top: 10%
  
}



#custom-seekbar2 {  
  cursor: pointer;
  height: 17px;
  margin-bottom: 0px;
  background:black;
  overflow:visible;
  position: relative;
  width: 100%;
  left: 0%;
  border:thin;
  border-right:0px;  
  border-color:yellow;
  
}

#custom-seekbar2 span {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 0px;
}

#custom-seekbar2 span:after {
  content: '■';
  display:block;
  position: absolute;
  background-color: blue;
  width:12px;
  color: blue;
  top: 0;
  right: 0px;
  overflow:hidden
  
}

#custom-seekbar2 span.hover:after {
  content: '■';
  display:block;
  position: absolute;
  background-color: yellow;
  color: yellow;
  top: 0;
  right: 0%;
}

.bar2 {
  height: 10px;
  margin-bottom: 10px;
  background:black;
  overflow: hidden;
  position: absolute;
  width: 49.95%;
  right: 1%;
  border:thin;
  border-right:0px;  
  border-color:yellow;
  bottom: 220px

}


/* following rule is for hiding Stack Overflow's console */
.as-console-wrapper{ display: none !important;}


.dropdown2 {
  position:absolute;
  bottom: 5px;
  left:50px;
  display:inline-block;
  width:150px;height:45px;
  padding-top:4px;
 /*content:"";
  border-top:.3em solid;border-right:.3em solid transparent;border-bottom:0;border-left:.3em solid transparent
 */
}

/* Dropdown Button */
.dropbtn {
  display: inline-block;
  background: -webkit-linear-gradient(top, lightgray, black);
  border: 2px solid #999;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px black;
  font-weight: 700;
  font-size: 10pt;
  color:white;
  padding-left:18px;
  padding-right:18px;
  padding-top:2px;
  margin: 1px;
  border-radius: 4px;
  width:auto;
  max-width:175px;
  height:28px;
}

.dropbtn.active {
  border: 2px solid black;
  border-radius: 4px;
  border-style:groove;
  background: #E9E9E9;
  color:black
}
 
.dropbtn:hover {
  visibility:visible
}

.dropbtn .box {
  position:absolute;
  visibility: hidden;
 
 /* Position the tooltip */
  right:85%;
  bottom:0%;
  font-weight:500;
  
  padding-left:6px;
  width: 300px;
  height:250px;
  line-height:250px;
  color: black;
  font-size:16px;
  text-decoration:blink;
  margin-left: 0px;
  border-width:6px;
  border-radius: 6px;
  border-style:groove;
  
  z-index: 1;
  overflow-wrap: break-word;

  
  
}


.dropbtn:hover .box, .dropbtn:focus .box, .dropbtn:focus-within .box {
  visibility: hidden;
  color:black;
  border-color: black;
  background: -webkit-linear-gradient(top, lightyellow, lightpink);
  text-shadow: 1px 1px silver;
  
  

 
}

.dropbtn .box1 {
  position:relative;
  visibility: hidden;
  min-width: 150px;
  height: 40px;
  border-color: yellow;
  color: black;
  font-size:16px;
  text-decoration:blink;
  font-weight:bold;
  margin-left: 0px;
  border-width:6px;
  border-radius: 6px;
  border-style:groove;
  
  right: 0%;
  bottom:1%;
  display: flex;
  justify-content: center;
  align-items: center;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  
  
}


.dropbtn:hover .box1, .dropbtn:focus .box1, .dropbtn:focus-within .box1 {
  visibility: visible;
  background-color: lightgreen;
  background: url('../images/Dropbox.png') no-repeat;
  background-position: -15px -18px;
  
 
}



.dropbtn .box2 {
  position:absolute;
  visibility: hidden;
  width: auto;
  height:40px;
  line-height:14px;
  background-color: lightgreen;
  color: black;
  font-size:14px;
  text-decoration:blink;
  font-weight:bold;
  padding-left: 4px;
  padding-right:4px;
  padding-top: 0px;
  margin-left: 0px;
  border-width:6px;
  border-style:groove;
  border-radius: 6px;
  border-color:white;
  right:15%;
  top: 4px;
  /* Position the tooltip */
  display: inline-block;
  overflow:visible;
  z-index: 1;
}

.dropbtn:hover .box2, .dropbtn:focus .box2, .dropbtn:focus-within .box2 {
  visibility: visible;
 
}

.dropbtn .box3 {
  position:absolute;
  visibility: hidden;
  width: 250px;
  height:40px;
  background-color: lightgreen;
  color: black;
  font-size:14px;
  text-decoration:blink;
  font-weight:bold;
  padding-left: 0px;
  padding-top: 0px;
  margin-left: 0px;
  border-width:6px;
  border-style:groove;
  border-radius: 6px;
  border-color:white;
    left:1%;
  top: 4px;
  /* Position the tooltip */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
}


.dropbtn:hover .box3, .dropbtn:focus .box3, .dropbtn:focus-within .box3 {
  visibility: visible;
  overflow:visible;
}


.dropbtn .box4 {
  position:absolute;
  visibility: hidden;
  width: 250px;
  height:40px;
  background-color: lightgreen;
  color: black;
  font-size:14px;
  text-decoration:blink;
  font-weight:bold;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0px;
  margin-left: 0px;
  border-width:6px;
  border-style:groove;
  border-radius: 6px;
  border-color:white;
  left:103%;
  top: 4px;
 /* Position the tooltip */
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}



.dropbtn:hover .box4, .dropbtn:focus .box4, .dropbtn:focus-within .box4 {
  visibility: visible;
  overflow:visible;
}





/* The container <div> - needed to position the dropdown content */
.dropdownL {  
  position:relative;
  display: inline-block;
  width:auto;
  float:right;
  right: 4%;
  bottom:14%;
  text-align: center;
  padding-top:4px;
  padding-bottom:4px;
  padding-right:6px;
  padding-left: 6px;
  z-index: 1;
  border: 4px;
  border-radius: 6px;
  border-color:yellow;
  cursor:move;
  color:red
}




/* Dropdown Content (Hidden by Default) */

.dropdownL-content {
  position:absolute;
  display: none;  
  background: -webkit-linear-gradient(top, black, silver);  
  width:auto;
  max-width: 150px;
  height:150px;
  overflow:scroll;
  border: 2px;
  border-radius: 2px;
  padding:2px;
  margin: 2px;
  left:10%
  
}
  
  

/* Links inside the dropdown */

.dropdownL-content a {
  color: white;
  padding: 4px 4px;
  text-decoration: blink;
  display: block;
  border: 4px;
  border-radius: 4px;
  border-color:white

  
}

/* Change color of dropdown links on hover */

.dropdownL-content a:hover {
  color:black;
  border-color: black;
  background: -webkit-linear-gradient(top, lightyellow, lightpink);
  text-shadow: 1px 1px silver;
  font-weight:500;
  border-color:lime;
  border-style:groove;


}

/* Show the dropdown menu on hover */

.dropdownL:hover .dropdownL-content {
  display: block;
  position:relative;

}





/* Change the background color of the dropdown button when the dropdown content is shown  */

.dropdownL:hover .dropbtn {
  background: -webkit-linear-gradient(top, lightyellow, lightpink);
  text-shadow: 1px 1px silver;
  min-width: 150px;
  color: black;
  border: 6px;
  border-radius: 6px;
  border-color:black;
}



/* The container <div> - needed to position the dropdown content */
.dropdownR {  
  position:relative;
  display: inline-block;
  width:auto;
  float:right;
  right: 1%;
  bottom:0%;
  text-align: center;
  padding-top:4px;
  padding-bottom:4px;
  padding-right:6px;
  padding-left: 6px;
  z-index: 1;
  border: 4px;
  border-radius: 6px;
  border-color:yellow;
  cursor:move;
  color:red
}




/* Dropdown Content (Hidden by Default) */

.dropdownR-content {
  position:absolute;
  display: none;  
  background: -webkit-linear-gradient(top, black, silver);  
  width:auto;
  max-width: 150px;
  height:100px;
  overflow:scroll;
  border: 2px;
  border-radius: 4px;
  padding:2px;
  margin: 2px;
  left:10%;
  
}
  
  

/* Links inside the dropdown */

.dropdownR-content a {
  color: white;
  padding: 4px 4px;
  text-decoration: blink;
  display: block;
  border: 4px;
  border-radius: 4px;
  border-color:white

  
}

/* Change color of dropdown links on hover */

.dropdownR-content a:hover {
  color:black;
  border-color: black;
  background: -webkit-linear-gradient(top, lightyellow, lightpink);
  text-shadow: 1px 1px silver;
  font-weight:500;
  border-color:yellow;
  border-style:groove;


}

/* Show the dropdown menu on hover */

.dropdownR:hover .dropdownR-content {
  display: block;
  position:relative;

}





/* Change the background color of the dropdown button when the dropdown content is shown  */

.dropdownR:hover .dropbtn {
  background: -webkit-linear-gradient(top, lightyellow, lightpink);
  text-shadow: 1px 1px silver;
  min-width: 150px;
  color: black;
  border: 6px;
  border-radius: 6px;
  border-color:black;
}


