

/*
body {
  font-family: Verdana;
  background: url('../pics/silverbars.jpg') no-repeat fixed center;
  color: white;
  line-height: 26px;
      
}
*/

input.btn {
  color:black;
  font: bold 75% 'tahoma',helvetica,sans-serif;
  background-color:silver;
  border: 2px solid;
  
  border-color: #c7c5c8;
 }
 
 input.btn2 {
  color:black;
  font: bold 95% 'tahoma',helvetica,sans-serif;
  background-color:#ffd148;
  border: 2px solid;
  border-color: #c7c5c8;
 
}

#table {
    position:absolute;
    left: 0%;
    right: 45%;
    height: 35%;
    bottom: 3%;
    overflow:visible;
    opacity:0.75;
    z-index:9;
}

#table:hover {
    opacity:1.0; 
    transition:1s;
      
}



.footer {
    position:absolute;
    left: 1%;
    display:inline-block;
    width:auto;
    padding-top: 0px;
    padding-bottom:1px;
    padding-left: 2px;
    background-color: transparent;
    border: 5px;
    border-color: silver;
    border-radius: 5px;
    border-style: double;
    height:28px;
    
    font-size: 18px;
    color: white;
    opacity: .4;
    transition: opacity 3s;
    top: 8%;
    z-index:7;
}

.footer:hover {
	background-color: #C0C0C0;
	border-color: red;
	opacity: 1;
	color: black;
}

.timerbutton {
    background: -webkit-linear-gradient(top, lightgray, black);
    font-family:Verdana;
    font-size:16px;
    line-height:16px;
    font-weight:500; 
    border: 3px double pink;
    border-radius: 4px;
    width: auto; 
    height: 24px;
    padding-bottom:4px;
    text-align: center;
    font-size: 16px;
    margin: 1px 1px;
    margin-top:3px;   
    cursor: pointer;
}

.timerbutton:hover {
   -webkit-transition-duration: 1s; /* Safari */
   transition-duration: 1s;
   -webkit-animation: fadeout 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadeout 1s; /* Firefox < 16 */
        -ms-animation: fadeout 1s; /* Internet Explorer */
         -o-animation: fadeout 1s; /* Opera < 12.1 */
            animation: fadeout 1s; 
   text-shadow: 1px 1px red;
   text-transform:bold;


}


.timerbutton1 {
    color: white;
}

.timerbutton1:focus {
    background-color: pink; 
    color: black
}

.timerbutton1:hover {
    color:red;   /* #4CAF50;  greenish */
    border-color:yellow;
    background: -webkit-linear-gradient(top, lightyellow, lightpink);
}

.timerbutton1:active {
    background-color: yellow; 
    color: black
}

.timerbutton2 {
    color: white; 
}

.timerbutton2:focus {
    background-color: yellow; 
    color: black
}

.timerbutton2:hover {
    color: black;
    background: -webkit-linear-gradient(top, lightgreen, lightblue);
}

.timerbutton2:active {
    background-color: yellow; 
    color: black
}

.timerbutton3 {
   color: white;
}

.timerbutton3:focus {
    background-color: yellow; 
    color: black
}

.timerbutton3:hover {
    background: -webkit-linear-gradient(top, white, lightpink);    
    color: red;
}

.timerbutton3:active {
    background-color: yellow; 
    color: black
}

.timerbutton4 {
   color: white;    
}

.timerbutton4:focus {
    background-color: yellow; 
    color: black
}

.timerbutton4:hover {
    background: -webkit-linear-gradient(top, lightgreen, lightyellow); 
    color:blue
}

.timerbutton4:active {
    background-color: yellow; 
    color: black
}

.timerbutton5 {
   color: white;
}

.timerbutton5:focus {
    background-color: yellow; 
    color: black
}

.timerbutton5:hover {
    background: -webkit-linear-gradient(top, lightblue, lightred);    
    color: yellow;
}

.timerbutton5:active {
    background-color: yellow; 
    color: black
}

.drag {
    background:transparent;
    margin-right:2px;
    margin-left:2px;
    color: red;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    cursor: move;
    transition: 5s;
    float:right
}

.drag:hover {
    color: yellow;
}




.timer {
    transition: opacity 6s;
    border:6px #666666 solid;
    border-radius: 6px;
    border-style:double;
    height:38px;
    width:15%;
    line-height:36px;
    font-size:34px;
    font-family:"Verdana";
    text-align:center;
    color: white;
    margin:0px;
    position:absolute;    
    padding-top: 2pt;
    left:1%;
    
    padding-left: 4px;
    top: 1%;
    z-index:11;

}
.timer:hover {
    border:6px red solid;
    border-radius: 6px;
    background-color: silver; 
    color: black;
}


.timer2 {
    transition: opacity 6s;
    border:6px #666666 solid;
    border-radius: 6px;
    border-style:double;
    height:auto;
    width:auto;
    line-height:22px;
    font-size:20px;
    font-family:"Verdana";
    text-align:center;
    color: white;
    margin:1px;
    position:absolute;    
    padding-top: 0pt;
    left:1%;
    padding-left: 2px;
    padding-right: 2px;
    top: 15%;
    z-index:11;

}
.timer2:hover {
    border:6px red double;
    border-radius: 6px;
    background-color: silver; 
    color: black;
}

.timer3 {
    display:inline-block;
    transition: opacity 2s;
    border:3px white double;
    border-radius: 4px;
   
    height:auto;
    width: auto;
    line-height:20px;
    font-size:16px;
    font-family:"Verdana";
    text-align:center;
    color: black;
    margin-left:4px;
    padding-top: 0pt;
    padding-left: 4px;
    padding-right: 4px;
    z-index:11;

}
.timer3:hover {
    border:3px red double;
    background-color: silver; 
    color: white;
}



.convertor {
    position:absolute;
    display:inline-block;
    padding-top: 0px;
    padding-bottom:2px;
    padding-left: 2px;
    background-color: transparent;
    border: 5px;
    border-color: silver;
    border-radius: 12px;
    border-style: double;
    height:22px;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 18px;
    font-weight:bold;
    line-height:22px;
    color: white;
    opacity: .6;
    transition: opacity 15s;
    bottom: 0%;
    text-align:center;
    z-index:5;
    width:auto;
    min-width:70%
   
}

.convertor:hover {
	background-color: #C0C0C0;
	border-color: red;
	opacity: 1;
	color: black;
}
