

body {
  background-color: silver;
  width:99%; height:96vh;
  object-fit: contain;
  overflow:visible;
  font-size: 2vmin;
  
}


.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
  
}

.custom-file-input::before {
  content: 'Click to Choose your own .mp4 video';
  display: inline-block;
  background: -webkit-linear-gradient(top, lightgray, black);
  border: 1px solid #999;
  border-radius: 6px;
  padding: 3px 5px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px black;
  font-weight: 700;
  font-size: 10pt;
  color:white;
  float:left;
}
.custom-file-input:hover::before {
  border-color: black;
  background: -webkit-linear-gradient(top, lightyellow, lightpink);
  text-shadow: 1px 1px silver;
  color:black;

}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, pink, #f9f9f9);
}




.timer {
    position:absolute;
    border:2px #666666 solid;
    border-radius: 4px;
    background-color: black;
    line-height:20px;
    font-size:18px;
    font-family:"Verdana";
    color:white;
    text-align:left;    
    height: 22px;
    width:auto;    
    padding-top: 1px;
    padding-left: 5px;
    padding-right:3px;
    margin:auto;
    display: block;
    min-width: 100px;
    left:20%;   
    bottom:30%;
    
}

.timer:hover {
    border:2px red solid;
    border-radius: 4px;
    background-color: #555555; 
}


.timerR {
    position:absolute;
    border:2px #666666 solid;
    border-radius: 4px;
    background-color: black;
    line-height:20px;
    font-size:18px;
    font-family:"Verdana";
    color:white;
    text-align:left;    
    height: 22px;
    width:auto;    
    padding-top: 1px;
    padding-left: 5px;
    padding-right:3px;
    margin:auto;
    display: block;
    min-width: 100px;
    left:72%;   
    bottom:30%;
}
.timerR:hover {
    border:2px red solid;
    border-radius: 4px;
    background-color: #555555; 
    
}



.menubarB {
    position: absolute;
    display:inline-block;
    padding-top:4px;
    margin: 0 auto;
    left:38%;
    bottom: 7%;
    height: 30px;
    width:auto;
    min-width:300px;
    padding:auto;
    opacity: 1.0;
    transition: opacity 50s;
    background-color: transparent;
    border: 2px;
    border-color: transparent;
    border-radius: 4px;
    border-style:groove;
    overflow:hidden;
}

.menubarB:hover {
    background: -webkit-linear-gradient(top, lightgray, black);
    border-color: white;
    border-radius: 4px;
    color:black;
    opacity: 1;
    transition: opacity 2s;
}




.menubarL {
    position: absolute;
    display:inline-block;
    padding-top: 4px;
    left:1%;
    bottom: 17%;
    height: 30px;
    width:auto;
    min-width:400px;
    padding:auto;
    margin: 0 auto;
    opacity: 1.0;
    transition: opacity 50s;
    background-color: transparent;
    border: 2px;
    border-color: transparent;
    border-radius: 4px;
    border-style:groove;
    overflow:hidden;

}

.menubarL:hover {
    background: -webkit-linear-gradient(top, lightgray, black);
    border-color: black;
    border-radius: 4px;
    color:black;
    opacity: 1;
    transition: opacity 2s;
}


.menubarR {
    position: absolute;
    display:inline-block;
    padding-top:4px;
    float:right;
    left:55%;
    bottom: 17%;
    height: 30px;
    width:auto;
    min-width:400px;
    padding:auto;
    margin: 0 auto;;
    opacity: 1.0;
    transition: opacity 50s;
    background-color: transparent;
    border: 2px;
    border-color: transparent;
    border-radius: 4px;
    border-style:groove;
    overflow:hidden;
}


.menubarR:hover {
    background: -webkit-linear-gradient(top, lightgray, black);
    border-color: black;
    border-radius: 4px;
    color:black;
    opacity: 1;
    transition: opacity 2s;
}



#Mnegative2 {
    background-color: transparent;
    font-weight: normal;
    color: white; 
    border-color: transparent;
    border-radius: 4px;
    border-style:grooved;
    position:relative;
}

#Mnegative2:hover {
    border-color: lime;
    background: -webkit-linear-gradient(top, lightgray, red);
    color: white;
}

#Lnegative2 {
    background-color: transparent;
    font-weight: normal;
    color: white;
    width: auto; 
    border-color: transparent;
    border-radius: 6px;
    border-style:groove;
    position:relative;
    padding-left:4px;
    padding-right:4px
    
}

#Lnegative2:hover {
    border-color: white;
    background: -webkit-linear-gradient(top, red, black);
    color: white;
}

#Rnegative2 {
    background-color: transparent;
    font-weight: normal;
    color: white;
    width: auto; 
    border-color: transparent;
    border-radius: 6px;
    border-style:groove;
    position:relative;
    padding-left:4px;
    padding-right:4px
    
}

#Rnegative2:hover {
    border-color: white;
    background: -webkit-linear-gradient(top, red, black);
    color: white;
}


#M1_8 {
    background-color: transparent;
    font-weight: 600;
    width: auto;
    margin: 0px 0px;
    color: white; 
    border-color: transparent;
    border-radius: 6px;
    border-style:groove;
    position:relative;
    padding: 3px 3px;
    padding-bottom:2px
}

#M1_8:hover {
   border-color: white;
    background: -webkit-linear-gradient(top, lightgray, #008CBA);
    color: black;
}

#M1_16 {
    background-color: transparent;
    font-weight: 600;
    width: auto;
    margin: 0px 0px;
    color: white; 
    border-color: transparent;
    border-radius: 6px;
    border-style:groove;
    position:relative;
    padding: 3px 3px;
    padding-bottom:2px
}

#M1_16:hover {
    border-color: white;
    background: -webkit-linear-gradient(top, lightgray, #008CBA);
    color: black;
}


#L1_8 {
    background-color: transparent;
    font-weight: 600;
    width: auto;
    margin: 0px 0px;
    color: white; 
    border-color: transparent;
    border-radius: 6px;
    border-style:groove;
    position:relative;
    padding: 3px 3px;
    padding-bottom:2px
}

#L1_8:hover {
    border-color: white;
    background: -webkit-linear-gradient(top, lightgray, #008CBA);
    color: black;
}

#L1_16 {
    background-color: transparent;
    font-weight: 600;
    width: auto;
    margin: 0px 0px;
    color: white; 
    border-color: transparent;
    border-radius: 6px;
    border-style:groove;
    position:relative;
    padding: 3px 3px;
    padding-bottom:2px

}

#L1_16:hover {
    border-color: white;
    background: -webkit-linear-gradient(top, lightgray, #008CBA);
    color: black;
}

#R1_8 {
    background-color: transparent;
    font-weight: 600;
    width: auto;
    margin: 0px 0px;
    color: white; 
    border-color: transparent;
    border-radius: 6px;
    border-style:groove;
    position:relative;
    padding: 3px 3px;
    padding-bottom:2px
}

#R1_8:hover {
    border-color: white;
    background: -webkit-linear-gradient(top, lightgray, #008CBA);
    color: black;
}

#R1_16 {
    background-color: transparent;
    font-weight: 600;
    width: auto;
    margin: 0px 0px;
    color: white; 
    border-color: transparent;
    border-radius: 6px;
    border-style:groove;
    position:relative;
    padding: 3px 3px;
    padding-bottom:2px
}

#R1_16:hover {
    border-color: white;
    background: -webkit-linear-gradient(top, lightgray, #008CBA);
    color: black;
}

.popmenu {
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 10pt;
    color:white;
    line-height:14px;
    margin: 2px 2px;
    margin-top: 2px;
    padding-top:3px;
    padding-bottom:2px;
    padding-left:3px;
    padding-right:3px;
    height: auto;
    width: auto; 
    -webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%;
    cursor: pointer;
    border: 2px solid #999;
    border-radius: 6px;
    border-style:groove;
    float:right;
    position:relative;
    background: -webkit-linear-gradient(top, lightgray, black);

}

.popmenu:hover {
  border-color: black;
  background: -webkit-linear-gradient(top, lightyellow, lightpink);
  text-shadow: 1px 1px silver;
  color:black;

}



.Mbtn {
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-family:Verdana;
    line-height:14px;
    margin: 2px 2px;
    margin-right:4px;
    margin-top: 2px;
    padding-top:2px;
    padding-bottom:3px;
    padding-left:4px;
    padding-right:4px;
    width: auto; 
    height: auto;
    -webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%;
    cursor: pointer;
    border: 4px;
    float:left;
    position:relative;
    
}

.Mbtn .tbtext {
  visibility: hidden;
  width: auto;
  height:18px;
  background-color: pink;
  border-color: silver;
  color: black;
  font-family:"Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size:14px;
  text-decoration:blink;
  font-weight:bold;
  text-align: center;
  padding-left: 1px;
  margin-left: 0px;
  display: inline-flex;
  align-items: center;
  border-width:2px;
  border-style:inset;
  border-radius: 6px;
  line-height: 16px;
  left: 0%;
  top: -40%;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}


.Mbtn:hover .tbtext, .Mbtn:focus .tbtext, .Mbtn:focus-within .tbtext {
  visibility: visible;
  
}

.Lbtn {
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-family:Verdana;
    line-height:14px;
    margin: 2px 2px;
    margin-top: 2px;
    padding-top:1px;
    padding-bottom:1px;
    padding-left:2px;
    padding-right:2px;
    width: auto; 
    height: 24px;
    -webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%;
    cursor: pointer;
    border: 4px;
    float:left;
    position:relative;
    
}


.Lbtn .tbtext {
  visibility: hidden;
  width: auto;
  min-width:500px;
  height:16px;
  background-color: pink;
  border-color: silver;
  color: black;
  font-family:"Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size:12px;
  text-decoration:blink;
  font-weight:bold;
  text-align: center;
  padding-left: 1px;
  margin-left: 0px;
  
  
  border-width:2px;
  border-style:inset;
  border-radius: 6px;
  line-height: 14px;
  left: 0%;
  bottom: -35%;
  /* Position the tooltip */
  position: absolute;
  z-index:1;
  overflow:visible;
}

.Lbtn:hover .tbtext, .Lbtn:focus .tbtext, .Lbtn:focus-within .tbtext {
  visibility: visible;
  
}


.Rbtn {
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-family:Verdana;
    line-height:14px;
    margin: 2px 2px;
    margin-top: 2px;
    padding-top:1px;
    padding-bottom:1px;
    padding-left:2px;
    padding-right:2px;
    width: auto; 
    height: 24px;
    -webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%;
    cursor: pointer;
    border: 4px;
    float:left;
    position:relative;
    
}


.Rbtn .tbtext {
  visibility: hidden;
  width: auto;
  min-width:500px;
  height:16px;
  background-color: pink;
  border-color: silver;
  color: black;
  font-family:"Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size:12px;
  text-decoration:blink;
  font-weight:bold;
  text-align: center;
  padding-left: 1px;
  margin-left: 0px;
  border-width:2px;
  border-style:inset;
  border-radius: 6px;
  line-height: 14px;
  left: 0%;
  bottom: -35%;
  /* Position the tooltip */
  position: absolute;
  z-index:1;
  overflow:visible;
}

.Rbtn:hover .tbtext, .Rbtn:focus .tbtext, .Rbtn:focus-within .tbtext {
  visibility: visible;
  
}


.Mbtn1 {
    background-color: transparent;
    font-weight: normal;
    color: white; 
    border-color: transparent;
    border-radius: 10px;
    border-style:double;
    position:relative;
}

.Mbtn1:hover {
    border-color: lime;
    background-color: #ff0000;
    color: white;
}


.Lbtn1 {
    background-color: transparent;
    font-weight: normal;
    color: white; 
    border-color: transparent;
    border-radius: 6px;
    border-style:groove;
    position:relative;
    padding-left: 3px;
    padding-right: 3px
}

.Lbtn1:hover {
    border-color: white;
    background: -webkit-linear-gradient(top, red, #ff0000);
    color: white;
}



.Rbtn1 {
    background-color: transparent;
    font-weight: normal;
    color: white; 
    border-color: transparent;
    border-radius: 6px;
    border-style:groove;
    position:relative;
    padding-left: 3px;
    padding-right: 3px
}

.Rbtn1:hover {
    border-color: white;
    background: -webkit-linear-gradient(top, lightblue, #ff0000);
    color: white;
}


.L3 {
    background-color: transparent;
    font-weight: normal;
    color: white; 
    border-color: transparent;
    border-radius: 10px;
    border-style:double;
    width: 80px; 
    height: 30px;
}

.L3:hover {
    border-color: lime;
    background-color: #f44336;
    color: white;
}

.R3 {
    background-color: transparent;
    font-weight: normal;
    color: white; 
    border-color: transparent;
    border-radius: 10px;
    border-style:double;
    width: 80px; 
    height: 30px;
}

.R3:hover {
    border-color: lime;
    background-color: #f44336;
    color: white;
}


#M5 {
    background-color: transparent;
    font-weight: 600;
    width: auto;
    margin: 0px 0px;
    color: white; 
    border-color: transparent;
    border-radius: 6px;
    border-style:groove;
    position:relative;
    padding: 3px 3px;
    padding-bottom:4px;
}

#M5:hover {
    border-color: white;
    background: -webkit-linear-gradient(top, lightgray, yellow);
    color: black;

}

#L5 {
    background-color: transparent;
    font-weight: 600;
    width: auto;
    margin: 0px 0px;
    color: white; 
    border-color: transparent;
    border-radius: 6px;
    border-style:groove;
    position:relative;
    padding: 3px 3px;
    padding-bottom:4px;
   
}

#L5:hover {
    border-color: white;
    background: -webkit-linear-gradient(top, lightgray, lime);
    color: black;
}

#R5 {
    background-color: transparent;
    font-weight: 600;
    width: auto;
    margin: 0px 0px;
    color: white; 
    border-color: transparent;
    border-radius: 6px;
    border-style:groove;
    position:relative;
    padding: 3px 3px;
    padding-bottom:4px;
}

#R5:hover {
    border-color: white;
    background: -webkit-linear-gradient(top, lightgray, orange);
    color: black;}


.ML {
    background-color: black; 
    color: white;
    border:2px;
    border-color: lime;
    border-radius: 6px;
    border-style:groove;
    width: auto;
    margin-left: 3px;
    margin-right: 3px;
    float:right
   
}

.ML:hover {
    border-color: blue;
    background-color: white; 
    color: red;
}


.MR {
    background-color: black; 
    color: white;
    border:2px;
    border-color: lime;
    border-radius: 6px;
    border-style:groove;
    width: auto;
    margin-left: 3px;
    margin-right: 3px;
    float:right
   
}

.MR:hover {
    border-color: blue;
    background-color: white; 
    color: red;
}



.M6 {
    background-image: url("../images/recsmall.png");
    background-size: 100%;
    background-color:transparent;
    border-size: 2px;
    border-radius: 6px;
    border-style:groove;
    height:24px;
    width:24px;
    margin-left: 4px;
    margin-right: 4px;
   
}

.M6:hover {
    border-color: lime;
    background-color: yellow; 
    color: red;
}


.L6 {
    background-color: black; 
    color: white;
    border-color: lime;
    border-radius: 10px;
    border-style:double;
    width: 46x;
    Margin: 3px 3px;
}

.L6:hover {
    border-color: blue;
    background-color: white; 
    color: red;
}


.R6 {
    background-color: black; 
    color: white;
    border-color: lime;
    border-radius: 10px;
    border-style:double;
    width: 46x;
    Margin: 3px 3px;
}

.R6:hover {
    border-color: blue;
    background-color: white; 
    color: red;
}




#Mreset {
    background-color: transparent;
    font-weight: normal;
    color: white; 
    width: auto;
    margin: 2px 2px;
    border-color: transparent;
    border-radius: 6px;
    border-style:groove;
    position:relative;
    padding-left:3px;
    padding-right:3px
}

#Mreset:hover {
    border-color: white;
    background: -webkit-linear-gradient(top, lightgreen, black);
    color: white;}

#Lreset {
    background-color: transparent;
    font-weight: normal;
    color: white; 
    width: auto;
    margin: 2px 2px;
    border-color: transparent;
    border-radius: 6px;
    border-style:groove;
    position:relative;
    padding-left:3px;
    padding-right:3px
}

#Lreset:hover {
    border-color: white;
    background: -webkit-linear-gradient(top, lightgreen, black);
    color: white;
}


#Rreset {
   background-color: transparent;
    font-weight: normal;
    color: white; 
    width: auto;
    margin: 2px 2px;
    border-color: transparent;
    border-radius: 6px;
    border-style:groove;
    position:relative;
    padding-left:3px;
    padding-right:3px
}

#Rreset:hover {
    border-color: white;
    background: -webkit-linear-gradient(top, lightgreen, black);
    color: white;
}



#M4x {
    background-color: transparent;
    font-weight: normal;
    color: white; 
    border-color: transparent;
    border-radius: 10px;
    border-style:double;
    position:relative;
}

#M4x:hover {
    border-color: lime;
    background-color: #e7e7e7; 
    color: gray
}

#M16x {
    background-color: transparent;
    font-weight: normal;
    color: white; 
    border-color: transparent;
    border-radius: 10px;
    border-style:double;
    position:relative;
}

#M16x:hover {
    border-color: lime;
    background-color: #e7e7e7; 
    color: gray
}


#L4x {
     background-color: transparent;
    font-weight: 600;
    width: auto;
    margin: 0px 0px;
    color: white; 
    border-color: transparent;
    border-radius: 6px;
    border-style:groove;
    position:relative;
    padding: 3px 3px;
    padding-bottom:2px
}

#L4x:hover {
    border-color: white;
    background: -webkit-linear-gradient(top, lightgray, #008CBA);
    color: black;
}

#L16x {
    background-color: transparent;
    font-weight: 600;
    width: auto;
    margin: 0px 0px;
    color: white; 
    border-color: transparent;
    border-radius: 6px;
    border-style:groove;
    position:relative;
    padding: 3px 3px;
    padding-bottom:2px
}

#L16x:hover {
    border-color: white;
    background: -webkit-linear-gradient(top, lightgray, #008CBA);
    color: black;
}

#R4x {
    background-color: transparent;
    font-weight: 600;
    width: auto;
    margin: 0px 0px;
    color: white; 
    border-color: transparent;
    border-radius: 6px;
    border-style:groove;
    position:relative;
    padding: 3px 3px;
    padding-bottom:2px
}

#R4x:hover {
    border-color: white;
    background: -webkit-linear-gradient(top, lightgray, #008CBA);
    color: black;
}

#R16x {
    background-color: transparent;
    font-weight: 600;
    width: auto;
    margin: 0px 0px;
    color: white; 
    border-color: transparent;
    border-radius: 6px;
    border-style:groove;
    position:relative;
    padding: 3px 3px;
    padding-bottom:2px
}

#R16x:hover {
    border-color: white;
    background: -webkit-linear-gradient(top, lightgray, #008CBA);
    color: black;
}






.controlsL{
    position:absolute;
    display:block;
    text-align:center;
    left: 1%;
    margin-top:1px;
    padding-top: 0px;
    padding-bottom:1px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: transparent;
    border: 2px;
    border-color: white;
    border-radius: 6px;
    border-style: groove;
    height:36px;
    width:400px;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 18px;
    line-height:36px;
    color: white;
    opacity: 0.25;
    transition: opacity 30s;
    bottom: 5%;
}

.controlsL:hover {
 background-color: #C0C0C0;
 border-color: lime;
 opacity: 1;
 color: black;
 transition: opacity 2s;
}

.controlsR{
    position:absolute;
    display:inline-block;
    text-align:center;
    left: 78%;
    margin-top:4px;
    padding-top: 0px;
    padding-bottom:1px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: transparent;
    border: 2px;
    border-color: white;
    border-radius: 6px;
    border-style: groove;
    height:36px;
    width: auto;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 18px;
    color: white;
    opacity: .25;
    transition: opacity 30s;
    bottom: 5%;
   
}

.controlsR:hover {
 background-color: #C0C0C0;
 border-color: lime;
 opacity: 1;
 color: black;
 transition: opacity 2s;
}



.playlistbutton {
    text-align: left;
    background-color: transparent;
    font-size: 16px;
    margin: 2px 2px;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:1px;
    width: 100px; 
    height: 20px;
    cursor: pointer;
    color:white;
    border-color:transparent;
    border-width: 0px;
}

.playlistbutton:hover {
    color:blue;
    text-decoration:underline 
}

.playlistbutton:focus-within {
  color: black;
  font-weight:normal;
  text-decoration:underline;
}






.arrow-curvedL {
  position: relative;
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-right: 9px solid #32557f;
  transform: rotate(10deg);

  &:after {
    content: "";
    position: absolute;
    border: 0 solid transparent;
    border-top: 3px solid #32557f;
    border-radius: 20px 0 0 0;
    top: -12px;
    left: -9px;
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
  }
}



.zoominL {
    background-color: black; 
    color: white;
    border-color:  aqua;
    border-radius: 10px;
    border-style:double;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight:bold;
    line-height:18px;
    margin: 4px 4px;
    padding-top:1px;
    padding-bottom:1px;
    width: 30px; 
    height: 30px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border: 4px;
}

.zoominL:hover {
    border-color: gold;
    background-color:  lime; 
    color: black
}

.zoomoutL {
    background-color: black; 
    color: white;
    border-color:  aqua;
    border-radius: 10px;
    border-style:double;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight:bold;
    line-height:18px;
    margin: 4px 4px;
    padding-top:1px;
    padding-bottom:1px;
    width: 30px; 
    height: 30px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border: 4px;
}

.zoomoutL:hover {
    border-color: gold;
    background-color: lime; 
    color: black
}

.leftL {
    background-color: black; 
    color: white;
    border-color:  aqua;
    border-radius: 10px;
    border-style:double;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight:bold;
    line-height:18px;
    margin: 4px 4px;
    padding-top:1px;
    padding-bottom:1px;
    width: 30px; 
    height: 30px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border: 4px;
}

.leftL:hover {
    border-color: gold;
    background-color: lime; 
    color: black
}

.rightL {
    background-color: black; 
    color: white;
    border-color:  aqua;
    border-radius: 10px;
    border-style:double;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight:bold;
    line-height:18px;
    margin: 4px 4px;
    padding-top:1px;
    padding-bottom:1px;
    width: 30px; 
    height: 30px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border: 4px;
}

.rightL:hover {
    border-color: gold;
    background-color: lime; 
    color: black
}

.upL {
    background-color: black; 
    color: white;
    border-color:  aqua;
    border-radius: 10px;
    border-style:double;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight:bold;
    line-height:18px;
    margin: 4px 4px;
    padding-top:1px;
    padding-bottom:1px;
    width: 30px; 
    height: 30px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border: 4px;
}

.upL:hover {
    border-color: gold;
    background-color: lime; 
    color: black
}

.downL {
    background-color: black; 
    color: white;
    border-color:  aqua;
    border-radius: 10px;
    border-style:double;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight:bold;
    line-height:18px;
    margin: 4px 4px;
    padding-top:1px;
    padding-bottom:1px;
    width: 30px; 
    height: 30px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border: 4px;
}

.downL:hover {
    border-color: gold;
    background-color: lime; 
    color: black
}

.rotateleftL {
    background-color: black; 
    color: white;
    border-color:  aqua;
    border-radius: 10px;
    border-style:double;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight:bold;
    line-height:15px;
    margin: 4px 4px;
    padding-top:1px;
    padding-bottom:1px;
    width: 30px; 
    height: 30px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border: 4px;
}

.rotateleftL:hover {
    border-color: gold;
    background-color: lime; 
    color: black
}

.rotaterightL {
    background-color: black; 
    color: white;
    border-color:  aqua;
    border-radius: 10px;
    border-style:double;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight:bold;
    line-height:15px;
    margin: 4px 4px;
    padding-top:1px;
    padding-bottom:1px;
    width: 30px; 
    height: 30px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border: 4px;
}

.rotaterightL:hover {
    border-color: gold;
    background-color: lime; 
    color: black
}

.resetL {
    border-width: 4px;
    background-color: black; 
    color: white;
    border-color:  inherit;
    border-radius: 10px;
    border-style:none;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    line-height:26px;
    margin-top:2px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 60px;
    height: 30px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-bottom: ;
/* Safari */
    margin-left: 0px;
    margin-right: 0px;
}

.resetL:hover {
    border-color: gold;
    background-color: lime; 
    color: black
}



/*  right zoom below  */


.arrow-curvedR {
  position: relative;
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-right: 9px solid #32557f;
  transform: rotate(10deg);

  &:after {
    content: "";
    position: absolute;
    border: 0 solid transparent;
    border-top: 3px solid #32557f;
    border-radius: 20px 0 0 0;
    top: -12px;
    left: -9px;
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
  }
}



.zoominR {
    background-color: black; 
    color: white;
    border-color:  aqua;
    border-radius: 10px;
    border-style:double;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight:bold;
    line-height:18px;
    margin: 4px 4px;
    padding-top:1px;
    padding-bottom:1px;
    width: 30px; 
    height: 30px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border: 4px;
}

.zoominR:hover {
    border-color: gold;
    background-color:  lime; 
    color: black
}

.zoomoutR {
    background-color: black; 
    color: white;
    border-color:  aqua;
    border-radius: 10px;
    border-style:double;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight:bold;
    line-height:18px;
    margin: 4px 4px;
    padding-top:1px;
    padding-bottom:1px;
    width: 30px; 
    height: 30px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border: 4px;
}

.zoomoutR:hover {
    border-color: gold;
    background-color: lime; 
    color: black
}

.leftR {
    background-color: black; 
    color: white;
    border-color:  aqua;
    border-radius: 10px;
    border-style:double;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight:bold;
    line-height:18px;
    margin: 4px 4px;
    padding-top:1px;
    padding-bottom:1px;
    width: 30px; 
    height: 30px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border: 4px;
}

.leftR:hover {
    border-color: gold;
    background-color: lime; 
    color: black
}

.rightR {
    background-color: black; 
    color: white;
    border-color:  aqua;
    border-radius: 10px;
    border-style:double;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight:bold;
    line-height:18px;
    margin: 4px 4px;
    padding-top:1px;
    padding-bottom:1px;
    width: 30px; 
    height: 30px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border: 4px;
}

.rightR:hover {
    border-color: gold;
    background-color: lime; 
    color: black
}

.upR {
    background-color: black; 
    color: white;
    border-color:  aqua;
    border-radius: 10px;
    border-style:double;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight:bold;
    line-height:18px;
    margin: 4px 4px;
    padding-top:1px;
    padding-bottom:1px;
    width: 30px; 
    height: 30px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border: 4px;
}

.upR:hover {
    border-color: gold;
    background-color: lime; 
    color: black
}

.downR {
    background-color: black; 
    color: white;
    border-color:  aqua;
    border-radius: 10px;
    border-style:double;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight:bold;
    line-height:18px;
    margin: 4px 4px;
    padding-top:1px;
    padding-bottom:1px;
    width: 30px; 
    height: 30px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border: 4px;
}

.downR:hover {
    border-color: gold;
    background-color: lime; 
    color: black
}

.rotateleftR {
    background-color: black; 
    color: white;
    border-color:  aqua;
    border-radius: 10px;
    border-style:double;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight:bold;
    line-height:15px;
    margin: 4px 4px;
    padding-top:1px;
    padding-bottom:1px;
    width: 30px; 
    height: 30px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border: 4px;
}

.rotateleftR:hover {
    border-color: gold;
    background-color: lime; 
    color: black
}

.rotaterightR {
    background-color: black; 
    color: white;
    border-color:  aqua;
    border-radius: 10px;
    border-style:double;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight:bold;
    line-height:15px;
    margin: 4px 4px;
    padding-top:1px;
    padding-bottom:1px;
    width: 30px; 
    height: 30px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border: 4px;
}

.rotaterightR:hover {
    border-color: gold;
    background-color: lime; 
    color: black
}

.resetR {
    border-width: 4px;
    background-color: black; 
    color: white;
    border-color:  inherit;
    border-radius: 10px;
    border-style:none;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    line-height:26px;
    margin-top:2px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 60px;
    height: 30px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-bottom: ;
/* Safari */
    margin-left: 0px;
    margin-right: 0px;
}

.resetR:hover {
    border-color: gold;
    background-color: lime; 
    color: black
}


.active a{
      color :red;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      font-size: 16px;
}

.drag {
    background:transparent;
    margin-right:3px;
    margin-left:2px;
    color: red;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    cursor: move;
    transition: 5s;
    float:right
}

.drag:hover {
    color: yellow;
}


.closebtn2 {
    margin-right:3px;
    color: red;
    font-weight: bold;
    float: left;
    font-size: 20px;
    line-height: 20px;
    cursor:progress;
    transition: 5s;
}

.closebtn2:hover {
    color: yellow;
}

.closebtn2 .closebox {
  visibility: hidden;
  width: 180px;
  height:35x;
  background-color: black;
  border-color: silver;
  color: white;
  font-size: 18px;
  text-decoration:blink;
  font-weight:normal;
  text-align: center;
  margin-left:5px;
  display: inline-flex;
  align-items: center;
  border-width:2px;
  border-style:inset;
  border-radius: 6px;
  line-height: 100%;
  /* Position the tooltip */
  position: absolute;
  top: 105%;
  right: 25%;
  
}

.closebtn2:hover .closebox {
  visibility: visible;
}

.closebtn2 .closeboxleft {
  visibility: hidden;
  width: 180px;
  height:35x;
  background-color: black;
  border-color: silver;
  color: white;
  font-size: 18px;
  text-decoration:blink;
  font-weight:normal;
  text-align: center;
  margin-left:5px;
  display: inline-flex;
  align-items: center;
  border-width:2px;
  border-style:inset;
  border-radius: 6px;
  line-height: 100%;
  /* Position the tooltip */
  position: absolute;
  top: 105%;
  left: 25%;
  
}

.closebtn2:hover .closeboxleft {
  visibility: visible;
}



.toolblock {
    position:absolute;
    text-align:left;
    display:inline-block;
    left: 33%;
    padding-top: 2px;
    padding-bottom:2px;
    padding-left: 4px;
    padding-right: 4px;
    margin: 0 auto;
    margin-bottom:2px;
    background-color: transparent;
    border: 3px;
    border-color: white;
    border-radius: 6px;
    border-style: groove;
    height:40px;
    min-width: 350px;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 20px;
    line-height:22px;
    color: white;
    opacity: .25;
    transition: opacity 5s;
    bottom: 0.5%;
-webkit-animation: fadeout 45s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadeout 45s; /* Firefox < 16 */
        -ms-animation: fadeout 45s; /* Internet Explorer */
         -o-animation: fadeout 45s; /* Opera < 12.1 */
            animation: fadeout 45s;  
  
-webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 5s; /* Firefox < 16 */
        -ms-animation: fadein 5s; /* Internet Explorer */
         -o-animation: fadein 5s; /* Opera < 12.1 */
            animation: fadein 5s;
}

.toolblock:hover {
 background-color: #C0C0C0;
 border-color: lime;
 opacity: 1;
 color: red;
 transition: opacity 3s;
}


.toolblock .inner_tool {
    width: 100%;
    overflow: hidden;
   
}
.toolblock .inner_tool button {
    width: 38px;
    height: 38px;
    line-height: 36px;
    background: pink;
    border: 1px solid red;
    border-radius: 4px;
    float: left;
    padding: 0px;
    margin:2px 2px;
    font-size:28px;
    -webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%;
}
.toolblock .inner_tool button:last-child {
     border-right: 3px dotted red;
    }
.toolblock .inner_tool button.active {
    background: #E9E9E9;
}
.toolblock .inner_tool button .toolicon1 {
    background-position: -701px 0;
}
.toolblock .inner_tool button .toolicon2 {
    background-position: -656px 0;
}
.toolblock .inner_tool button .toolicon3 {
    background-position: -610px -3px;
}
.toolblock .inner_tool button .toolicon4 {
    background-position: -559px 0;
}
.toolblock .inner_tool button .toolicon5 {
    background-position: -513px 0;
}
.toolblock .inner_tool button .toolicon6 {
    background-position: -465px 0;
}
.toolblock .inner_tool button .toolicon7 {
    background-position: -415px 0;
}
.toolblock .inner_tool button .toolicon8 {
    background-position: -375px 0;
}
.toolblock .inner_tool button .toolicon9 {
    background-position: -325px -1px;
}
.toolblock .inner_tool button .toolicon10 {
    background-position: -283px -1px;
}
.toolblock .inner_tool button .toolicon11 {
    background-position: -240px 0;
}
.toolblock .inner_tool button .toolicon12 {
    background-position: -194px 0;
}

.toolblock .inner_tool button .toolicon13 {
    background-position: -148px -1px;
}

.toolblock .inner_tool button .toolicon14 {
    background-position: -103px -1px;
}

.toolblock .inner_tool button .toolicon15 {
    background-position: -57px 0;
}

.toolblock .inner_tool button .toolicon16 {
    background-position: -9px 0;
}


.toolblock .inner_tool button i {
    background: url('../images/toolimg5.png') no-repeat;
    width: 36px;
    height: 36px;
    display:block;
    margin: 1px auto;
    border:thin none black;
}

.inner_tool button:focus-within {
  color: black;
  font-weight:normal;
  text-decoration:underline;
}

.inner_tool button .hint {
  visibility: hidden;
  width: auto;
  height:auto;
  background-color: pink;
  border-color: silver;
  color: black;
  font-family:"Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size:14px;
  text-decoration:blink;
  font-weight:bold;
  text-align: center;
  padding-left: 1px;
  margin-left: 0px;
  display: inline-flex;
  align-items: center;
  border-width:2px;
  border-style:inset;
  border-radius: 6px;
  line-height: 16px;
  left: 0%;
  top: -40%;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.inner_tool button:hover .hint, .uploadbutton:focus .hint, .uploadbutton:focus-within .hint {
  visibility: visible;
}


.paperscriptL {
    position: absolute !important;
    width:99%;
    height:7%;
    top:1%;
    left:1%;
    right:0%;
    bottom:0%;
    background-color:transparent;
    resize:vertical;
    overflow:auto;
    
}


.paperscriptR {
    position: absolute !important;
    width:96%;
    height:80%;
    top:2%;
    left:1%;
    right:0%;
    bottom:0%;
    background-color:transparent;
    overflow:hidden
}


/*
#video-canvas {
    top:0%;
    left:10%;
    right:0%;
    bottom:50%;
    background-color:lightpink;
    overflow:hidden;
}
*/

#video-canvas1 {
    top:0%;
    left:2%;
    right:2%;
    bottom:10%;
    background-color:transparent;
    overflow:hidden;
   
}


#video {
  position: relative;
  border: 2px;
  border-color:gold;
  border-style:solid;
  border-radius: 4px;
  width: 99.75%;
  height: 94.6%;
  padding-bottom: 0px;
  margin-right:0.25%;
  margin-top: 0%;
  overflow:hidden;
}


#videoL {
  position: relative;
  border: 2px;
  border-color:gold;
  border-style:solid;
  border-radius: 4px;
  width: 720px;
  height: 500px;
  padding-bottom: 0px;
  
  display: table-cell;
  vertical-align: middle;
  margin-top:15%;
  margin-left: auto;
  margin-right: auto;
    
  overflow:hidden
}


#videoR {
  position: relative;
  border: 2px;
  border-color:gold;
  border-style:solid;
  border-radius: 4px;
  width: 99.0%;
  height: 94.5%;
  padding-bottom: 0px;
  margin-right:0.0%;
  margin-top: 0%;
  overflow:hidden

}


#stage{
  background:gray;
  width:100%;
  height:100%;
  position:relative;
  margin:0;
  border: 2px;
  border-color:#0066CD;
  border-style:solid;
  border-radius: 10x;
  overflow:hidden;
  
}

#stage span{font-size:20px;color:#666;display:block;padding:2em;}



#stageL{
  background:transparent;
  width:100%;
  height:80%;
  position:relative;
  border: 2px;
  border-color:#0066CD;
  border-style:solid;
  border-radius: 10x;
  overflow:hidden;
  
}

#stageL span{font-size:20px;color:#666;display:block;padding:2em;}


#stageR{
  background:transparent;
  width:100%;
  height:98%;
  position:relative;
  margin:0;
  border: 2px;
  border-color:#0066CD;
  border-style:solid;
  border-radius: 10x;
  overflow:hidden;
 
}

#stageR span{font-size:20px;color:#666;display:block;padding:2em;}


.wrap{ 
  width:100%;
  height:100%;
  bottom:0%;
}


#wrapL{
  background:transparent;
  width:50%;
  height:80%;
  margin-bottom:0%;
  overflow:hidden;
  left:0%;
  float:left;
  display:inline-block;
}

#wrapL span{font-size:20px;color:#666;display:block;padding:2em;}


#wrapR{
  background:transparent;
  width:50%;
  height:80%;
  margin:0;
  overflow:hidden;
  right:50%;
  float:right;
}

#wrapR span{font-size:20px;color:#666;display:block;padding:2em;}

/* CSS for resizable  */

.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px; display: block; }
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 16px; height: 16px; right: 3px; bottom: 1px;}
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}




#modal {
 position:absolute;
 width:auto;
 height:18px;
 line-height:18px;
 padding-top: 4px;
 background:transparent;
 float:left;
 left:45%;
 bottom:1%
}
 
#modtext {
 background: -webkit-linear-gradient(top, lightgray, black);
 color:white;
 text-shadow: 1px 1px black;
 font-weight: 700;
 font-size: 10pt;
 border-radius: 4px;
}

#modalR {
 position:absolute;
 width:auto;
 height:18px;
 line-height:18px;
 padding-top: 4px;
 background:transparent;
 float:left;
 left:45%;
 bottom:1%
}
 
#modRtext {
 background: -webkit-linear-gradient(top, lightgray, black);
 color:white;
 text-shadow: 1px 1px black;
 font-weight: 700;
 font-size: 10pt;
 border-radius: 4px;
}



#table {
 position:absolute;
 width:auto;
 height:180px;
 line-height:16px;
 padding-top: 4px;
 background:transparent;
 float:right;
 left:45%;
 bottom:30%;
 display:inline-table
}
 
#table:tabtext {
 background: -webkit-linear-gradient(top, lightgray, black);
 color:white;
 text-shadow: 1px 1px black;
 font-weight: 700;
 font-size: 10pt;
 border-radius: 4px;
}


            
</style>


